body {
  background-color: #3d5a6c;
}

.contact-input {
  width: 30px;
}

.band-name {
  text-align: center;
  color: white;
  font-size: 30px
}

.band-buttons,
.update-expense-button,
.update-contact-button,
.update-task-button {
  text-align: center;
  margin-top: 15px;
}

.go-to-band {
  color: white;
  background-color: #419D78;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 100px;
}

.go-to-band:hover {
  background-color: #44BBA4;
  opacity: .75;
  transition-duration: .3s;
}

.edit-band {
  color: white;
  background-color: #fa9f42;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 70px;
}

.edit-band:hover {
  background-color: #fac542;
  opacity: .75;
  transition-duration: .3s;
}

.delete-band {
  color: white;
  background-color: #721817;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 70px;
}

.delete-band:hover {
  background-color: #b22624;
  opacity: .75;
  transition-duration: .3s;
}

.band-links {
  text-align: center;
}

.band-link-headers {
  color: #44BBA4;
  display: inline-block;
  margin: auto 70px;
}

.band-link-headers:hover{
  color: #44D0A4;
  transition-duration: .3s;
}

.add-item {
  text-align: center;
  border: none;
  background-color: #44BBA4;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 127px;
}

.add-item:hover {
  background-color: #44D0A4;
  opacity: .75;
  transition-duration: .3s;
}

.button-holder {
  text-align: center;
  margin-top: 10px;
}

.edit {
  color: white;
  background-color: #fa9f42;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 70px;
}

.edit:hover {
  background-color: #fac542;
  opacity: .75;
  transition-duration: .3s;
}

.delete {
  color: white;
  background-color: #721817;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 70px;
}

.delete:hover {
  background-color: #b22624;
  opacity: .75;
  transition-duration: .3s;
}

.create-task,
.create-contact,
.create-band,
.create-expense {
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

.task-form,
.contact-form {
  margin-top: 10px;
}

.show-contacts {
  margin-left: 30px;
}

.contact-headers {
  margin-bottom: 15px;
}

.contact-info-name {
  text-align: center;
  color: white;
  font-size: 15px;
  display: inline-block;
  width: 10%;
  border: 1px solid white;
  margin-right: 40px;
}

.contact-info-number {
  text-align: center;
  color: white;
  font-size: 15px;
  display: inline-block;
  width: 10%;
  border: 1px solid white;
  margin-right: 40px;
}
.contact-info-email {
  text-align: center;
  color: white;
  font-size: 15px;
  display: inline-block;
  width: 20%;
  border: 1px solid white;
  margin-right: 40px;
}
.contact-info-company {
  text-align: center;
  color: white;
  font-size: 15px;
  display: inline-block;
  width: 15%;
  border: 1px solid white;
  margin-right: 40px;
}
.contact-info-details {
  text-align: center;
  color: white;
  font-size: 15px;
  display: inline-block;
  width: 20%;
  border: 1px solid white;
  margin-right: 40px;
}

.contact-buttons {
  margin-top: 15px;
  text-align: center;
}

.contact-edit-buttons {
  margin: 0 70px;
}

.task-name {
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  font-size: 15px;
  width: 20%;
  margin-right: 40px;
}

.task-due {
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  font-size: 15px;
  width: 15%;
  margin-right: 40px;
}

.task-priority {
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  font-size: 15px;
  width: 10%;
  margin-right: 40px;
}

.task-details {
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  font-size: 15px;
  width: 30%;
  margin-right: 40px;
}

.task-headers {
  margin-bottom: 15px;
}

.show-tasks {
  margin-left: 40px;
}

.task-buttons {
  text-align: center;
  margin-top: 15px;
}

.task-edit-buttons {
  margin: auto 70px;
}

.expense-name {
  border: 1px solid white;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 15%;
  margin-right: 40px;

}

.expense-price {
  border: 1px solid white;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 15%;
  margin-right: 40px;

}

.expense-details {
  border: 1px solid white;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 30%;
  overflow: auto;
  margin-right: 40px;

}

.expense-headers {
  margin-bottom: 15px;
}

.show-expenses {
  text-align: center;
}

.expense-edit-buttons{
    margin: auto 70px;
}
