body {
  background-color: #3d5a6c;
}

.contact-header {
  display: inline-block;
  margin-right: 10%;
}

.contact-info {
  display: inline-block;
  margin-right: 10%;
}

.contact-input {
  width: 30px;
}

.task-header {
  display: inline-block;
  margin-right: 10%;
}

.task-info {
  display: inline-block;
  margin-right: 10%;
}

.expense-header {
  display: inline-block;
  margin-right: 10%;
}

.expense-info {
  display: inline-block;
  margin-right: 10%;
}


.add-item {
  text-align: center;
  display: inherit;
  border: none;
  background-color: #44BBA4;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 127px;
}

.add-item:hover {
  background-color: #44D0A4;
  opacity: .75;
  transition-duration: .3s;
}

.button-holder {
  display: inline;
}

.edit {
  color: white;
  background-color: #fa9f42;
  border: none;
  border-radius: 4px;
  height: 25px;
  margin-right: 50%;
  width: 70px;
}

.edit:hover {
  background-color: #fac542;
  opacity: .75;
  transition-duration: .3s;
}

.delete {
  color: white;
  background-color: #721817;
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 70px;
}

.delete:hover {
  background-color: #b22624;
  opacity: .75;
  transition-duration: .3s;
}

.band-links {
  margin: 0 auto;
}

.band-link-headers {
  display: inline-block;
}

.create-task,
.create-contact {
  width: 50%;
  margin: 10px auto;
}

.task-form,
.contact-form {
  margin-top: 10px;
}
