<label class="password-form" for="password-confirmation">Password Confirmation</label>
<div class="password-form">{{input type="password"
        id="password-confirmation"
        placeholder="Password Confirmation"
        value=password}}
      </div>
