<form {{action 'update' on='submit'}}>
<div class="create-contact">{{input placeholder="Name" value=expense.name}}</div>
<div class="create-contact">{{input placeholder="Price" value=expense.cost}}</div>
<div class="create-contact">{{input placeholder="Description" value=expense.details}}</div>
<div class="update-expense-button">
  <button class="add-item">Edit Expense</button>
</div>
</form>
