<form {{action 'update' on='submit'}}>
{{input placeholder="Name" value=expense.name}}
{{input placeholder="Description" value=expense.description}}
{{input placeholder="Price" value=expense.cost}}
<button>Edit Expense</button>
</form>
