<div class="button-wrapper">
<button class="edit" {{action 'edit'}}>edit</button>
{{!-- <button{{action 'complete'}}>Complete</button> --}}
<button class="delete" {{action 'delete'}}>delete</button>
</div>
