<div class="band-links">
{{#link-to 'band/tasks' model}}
<h3 class="band-link-headers">Tasks</h3>
{{/link-to}}
{{#link-to 'band/expenses' model}}
<h3 class="band-link-headers">Expenses</h3>
{{/link-to}}
{{#link-to 'band/contacts' model}}
<h3 class="band-link-headers">Contacts</h3>
{{/link-to}}
</div>
{{!-- {{task-list task=task
            newTask='newTask'}}
{{task-list}} --}}
