show me something dude

{{#each model.tasks as |task|}}
<div>{{task.name}}</div>
{{task-list/edit task=task
                }}
{{/each}}
{{task-list band=model
            createTask='createTask'}}
{{outlet}}
