<div class="band-buttons">
  <button class="edit-band"{{action 'edit'}}>Update</button>
  <button class="go-to-band"{{action 'goToBand'}}>Go To Band</button>
  <button class="delete-band"{{action 'delete'}}>Delete</button>
</div>
{{!-- will need an if empty here once i get relational shit figured out --}}


{{yield}}
